<h1>Listing Events</h1>

<div class="">
<%= for event <- @events do %>
<%= link to: Routes.events_path(@conn, :show, event.id) do %>
<%= render "event.html", Map.put(assigns, :event, event) %>
<% end %>
<% end %>
</div>
