<h1>New Event</h1>
<%= render "form.html", Map.put(assigns, :action, Routes.events_path(@conn, :create)) %>
<p class="mt-5">The <span class="code-snip">Type</span> corresponds to a struct on the backend</p>
